extends layout

include product

block content
  h1= title
  div
    div(style="float:left; border-width:1px; border:solid; padding:2px; background: #efefef;")
      img(src=`${store.mapUrl}`)
      small(style="display: inherit")
        a(href="https://www.openstreetmap.org/copyright")
          | © OpenStreetMap contributors
    div(style="float:left; padding:20px; border:none;")
      name
        strong ID: 
        | #{store.id} #[br]
      address
        strong Satus: 
        | #{store.status} #[br]
        strong Area Served: 
        | #{store.areaServed} #[br]
        strong Circuit: 
        | #{store.circuit} #[br]
        strong Lantern Height: 
        | #{store.lanternHeight} #[br]
        strong Location Category: 
        | #{store.locationCategory} #[br]
        strong Power State: 
        | #{store.powerState} #[br]
        strong Controlling Method: 
        | #{store.controllingMethod} #[br]
